### While Loops in Python

In [8]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
     # x = x + 1
    x += 1 # same thing
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

#### Break, continue, pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases.

    break : Breaks out fo the current closest enclosing
    continue: goes to the top of the closest enclosing
    pass: does nothing at all

In [11]:
# pass
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [17]:
# Continue
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [18]:
#break
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

### Useful Operators in Python

#### range

In [2]:
mylist = [1,2,3]

# shift + tab

In [7]:
for num in range(0, 11, 2):
    print(num)
# start at 0, up to 11, by 2's

0
2
4
6
8
10

#### enumerate

In [15]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    
# prints the index first, which starts at 0. and the placement of the letter.

0
a


1
b


2
c


3
d


4
e

#### zip

In [18]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1,mylist2, mylist3):
    print(item)
    
# zips together the two lists and pairs up items to match
# only able to go as far as the shortest list

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

#### in

In [19]:
'x' in [1,2,3]

False

In [20]:
'a' in 'a world'

True

In [21]:
'mykey' in {'mykey' : 345}

True

In [22]:
d = {'mykey' : 345}

345 in d.keys()

False

#### min, max

In [25]:
mylist = [100, 200, 300]

In [26]:
min(mylist)

100

In [27]:
max(mylist)

300

#### Random library

In [28]:
from random import shuffle

In [29]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [30]:
shuffle(mylist)

In [31]:
mylist

[5, 9, 6, 10, 3, 2, 7, 8, 4, 1]

In [33]:
from random import randint # imports random integer

In [34]:
randint(0,100)

62

#### input

In [42]:
result = input('What is your name? ') # when you enter, a prompt pops up

What is your name? Paige

In [44]:
result

'Paige'

In [45]:
type(result)

str

### List Comprehensions in Python

In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring] # 'flattened out for loop'


mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [num**2 for num in range(0,11)]

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#### Small comparison

#### list comprehension
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

# this version takes out  the append function as it is implied

[32.0, 50.0, 68.0, 94.1]

In [9]:
# for loop
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [11]:
### How to to use if/else statement in list comprehension
### not recommended because it can quickly become confusing and unreadable

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [13]:
# Nested loops in list comprehension
# can get confusing as well

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [14]:
#list comprehension
# can get confusing as well

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

#### Quizzing myself at this point

In [2]:
# Use for, .split() and if to create a statement that will print out words starting with S


st = 'Print only the words that start with s in this sentence'

In [7]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

In [8]:
# use range() to print all even numbers from 0 - 10.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [10]:
# use list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [4]:
# go through the string and if the length of a word is even print 'even!'

st = 'Print every word in this sentence tht has an even number of letters'

In [13]:
for word in st.split():
    if len(word) %2 == 0:
        print(word + ' is even!')

only is even!
that is even!
with is even!
in is even!
this is even!
sentence is even!

In [15]:
# white a program that prints the integers 1 to 100, but for multipkes of three print 'fizz'instead of the number

for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('Fizzbuzz')
    elif num%3 == 3:
        pint('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Fizzbuzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Fizzbuzz
31
32
33
34
Buzz
36
37
38
39
Buzz
41
42
43
44
Fizzbuzz
46
47
48
49
Buzz
51
52
53
54
Buzz
56
57
58
59
Fizzbuzz
61
62
63
64
Buzz
66
67
68
69
Buzz
71
72
73
74
Fizzbuzz
76
77
78
79
Buzz
81
82
83
84
Buzz
86
87
88
89
Fizzbuzz
91
92
93
94
Buzz
96
97
98
99
Buzz

In [7]:
# use list comprehension to create a list of the first letters of ever word in the string below

st = 'Create a list of the first letters of every word in this string'

In [17]:
[word[0] for word in st.split()]

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']