### While Loops in Python

In [8]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
     # x = x + 1
    x += 1 # same thing
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

#### Break, continue, pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases.

    break : Breaks out fo the current closest enclosing
    continue: goes to the top of the closest enclosing
    pass: does nothing at all

In [11]:
# pass
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [17]:
# Continue
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [18]:
#break
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

### Useful Operators in Python

#### range

In [2]:
mylist = [1,2,3]

# shift + tab

In [7]:
for num in range(0, 11, 2):
    print(num)
# start at 0, up to 11, by 2's

0
2
4
6
8
10

#### enumerate

In [15]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    
# prints the index first, which starts at 0. and the placement of the letter.

0
a


1
b


2
c


3
d


4
e

#### zip

In [18]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1,mylist2, mylist3):
    print(item)
    
# zips together the two lists and pairs up items to match
# only able to go as far as the shortest list

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

#### in

In [19]:
'x' in [1,2,3]

False

In [20]:
'a' in 'a world'

True

In [21]:
'mykey' in {'mykey' : 345}

True

In [22]:
d = {'mykey' : 345}

345 in d.keys()

False

#### min, max

In [25]:
mylist = [100, 200, 300]

In [26]:
min(mylist)

100

In [27]:
max(mylist)

300

#### Random library

In [28]:
from random import shuffle

In [29]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [30]:
shuffle(mylist)

In [31]:
mylist

[5, 9, 6, 10, 3, 2, 7, 8, 4, 1]

In [33]:
from random import randint # imports random integer

In [34]:
randint(0,100)

62

#### input

In [42]:
result = input('What is your name? ') # when you enter, a prompt pops up

What is your name? Paige

In [44]:
result

'Paige'

In [45]:
type(result)

str

### List Comprehensions in Python

In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring] # 'flattened out for loop'


mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [num**2 for num in range(0,11)]

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#### Small comparison

#### list comprehension
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

# this version takes out  the append function as it is implied

[32.0, 50.0, 68.0, 94.1]

In [9]:
# for loop
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [11]:
### How to to use if/else statement in list comprehension
### not recommended because it can quickly become confusing and unreadable

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [13]:
# Nested loops in list comprehension
# can get confusing as well

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [14]:
#list comprehension
# can get confusing as well

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]