### While Loops in Python

In [8]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
     # x = x + 1
    x += 1 # same thing
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

#### Break, continue, pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases.

    break : Breaks out fo the current closest enclosing
    continue: goes to the top of the closest enclosing
    pass: does nothing at all

In [11]:
# pass
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [17]:
# Continue
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [18]:
#break
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

### Useful Operators in Python

#### range

In [2]:
mylist = [1,2,3]

# shift + tab

In [7]:
for num in range(0, 11, 2):
    print(num)
# start at 0, up to 11, by 2's

0
2
4
6
8
10

#### enumerate

In [15]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    
# prints the index first, which starts at 0. and the placement of the letter.

0
a


1
b


2
c


3
d


4
e

#### zip

In [18]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1,mylist2, mylist3):
    print(item)
    
# zips together the two lists and pairs up items to match
# only able to go as far as the shortest list

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

#### in

In [19]:
'x' in [1,2,3]

False

In [20]:
'a' in 'a world'

True

In [21]:
'mykey' in {'mykey' : 345}

True

In [22]:
d = {'mykey' : 345}

345 in d.keys()

False

#### min, max

In [25]:
mylist = [100, 200, 300]

In [26]:
min(mylist)

100

In [27]:
max(mylist)

300

#### Random library

In [28]:
from random import shuffle

In [29]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [30]:
shuffle(mylist)

In [31]:
mylist

[5, 9, 6, 10, 3, 2, 7, 8, 4, 1]

In [33]:
from random import randint # imports random integer

In [34]:
randint(0,100)

62

#### input

In [42]:
result = input('What is your name? ') # when you enter, a prompt pops up

What is your name? Paige

In [44]:
result

'Paige'

In [45]:
type(result)

str

### List Comprehensions in Python

In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring] # 'flattened out for loop'


mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [num**2 for num in range(0,11)]

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#### Small comparison

#### list comprehension
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

# this version takes out  the append function as it is implied

[32.0, 50.0, 68.0, 94.1]

In [9]:
# for loop
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [11]:
### How to to use if/else statement in list comprehension
### not recommended because it can quickly become confusing and unreadable

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [13]:
# Nested loops in list comprehension
# can get confusing as well

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [14]:
#list comprehension
# can get confusing as well

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

#### Quizzing myself at this point

In [2]:
# Use for, .split() and if to create a statement that will print out words starting with S


st = 'Print only the words that start with s in this sentence'

In [7]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

In [8]:
# use range() to print all even numbers from 0 - 10.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [10]:
# use list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [4]:
# go through the string and if the length of a word is even print 'even!'

st = 'Print every word in this sentence tht has an even number of letters'

In [13]:
for word in st.split():
    if len(word) %2 == 0:
        print(word + ' is even!')

only is even!
that is even!
with is even!
in is even!
this is even!
sentence is even!

In [15]:
# white a program that prints the integers 1 to 100, but for multipkes of three print 'fizz'instead of the number

for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('Fizzbuzz')
    elif num%3 == 3:
        pint('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Fizzbuzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Fizzbuzz
31
32
33
34
Buzz
36
37
38
39
Buzz
41
42
43
44
Fizzbuzz
46
47
48
49
Buzz
51
52
53
54
Buzz
56
57
58
59
Fizzbuzz
61
62
63
64
Buzz
66
67
68
69
Buzz
71
72
73
74
Fizzbuzz
76
77
78
79
Buzz
81
82
83
84
Buzz
86
87
88
89
Fizzbuzz
91
92
93
94
Buzz
96
97
98
99
Buzz

In [7]:
# use list comprehension to create a list of the first letters of ever word in the string below

st = 'Create a list of the first letters of every word in this string'

In [17]:
[word[0] for word in st.split()]

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']

### Methods and Python Documentation

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [9]:
# TAB shows you all the methods you can do
# SHIT + TA  for help
# ORRR

In [10]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

### Introduction to formulas


Remember that once we get to functions, understanding + possibly difficulty can get lost in translation. 

Be PATIENT.

If a function doesn't make sense, read it and try to explain what it does to someone else. You need to understand your code.

#### def Keyword

def = definition
snake casing is all lowercase with underscores between words
() = pass in arguments/parameters.
: = colon
''' Docstring explains function '''

ex : def name_of_function(name):

print('Hello + name')

>> name_of_function('Paige')
>> Hello Paige


whats the diff between return and print?

ex

def add_function(num1,num2):
    return num1+num2
   
>> result = add_function(1,2)
>>
>>print(result)
> 3



return allows you to save the result as a variable

In [3]:
def myfunc(name):
    name = Name
    print('Hello' + ' ' + Name)
    
## kinda works, idk

In [ ]:
def myfunc2(x, y, z):
    if x == True:
        return x
    else:
        return y
    
    
# works like a charm, however not sure why we need argument z?

In [2]:
# that takes in two arguments and returns their sum.

def myfunc3(a,b):
    return (a+b)

In [2]:
# takes in an argument and returns TRUE IF EVEN and FALSE if not


def is_even(n):
    if n%3 == 0:
        return True
    else:
        return False
    
## its a yes/or no. HAVE to remember the ELSE when using IF

In [ ]:
# takes in 2 arguments and returns TRUE if greater and FALSE if not

def is_greater(a,b):
    if a > b:
        return True
    else:
        return False
    
# > greater than
# < less than

### Basics of Python Functions

In [3]:
def say_hello():
    print('Hello')
    print('how')
    print('are')
    print('you')

In [4]:
say_hello()

Hello
how
are
you

In [5]:
say_hello

In [11]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [13]:
say_hello()

Hello Default

In [17]:
def print_result(a,b):
    print(a+b)

In [18]:
def return_result(a,b):
    return a+b

In [20]:
result = print_result(10,20)

30

In [21]:
result

In [22]:
type(result)

NoneType

In [24]:
result = return_result(10,20)

In [25]:
result

30

In [26]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [27]:
result = myfunc(10,20)

30

In [28]:
result

30

In [29]:
def sum_numbers(num1,num2):
    return num1+num2

In [30]:
sum_numbers(10,20)

30

In [31]:
sum_numbers('10', '20')

'1020'

### Logic with Python Functions

In [2]:
# Reminder about booleans

def myfunc(letter):
    if letter == 'True':
        return 'Hello'
    elif letter == 'False':
        return 'No'
    
    
# LETTER is the boolean because it returns true or false. letter can be a, number, etc etc as long as the VALUE is set to true or false.

In [4]:
def even_check(number):
    return number % 2 == 0

In [5]:
even_check(20)

True

In [6]:
even_check(21)

False

In [20]:
def check_even_list(num_list):
    # return all the even numbers in a list
    
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [21]:
check_even_list([1,3,5])

[]

In [22]:
check_even_list([2,4,5])

[2, 4]

### Tuple Unpacking with Python Functions

In [1]:
stock_prices = [('APPL', 200),('GOOG', 400), ('MSFT', 100)]

In [2]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [5]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [9]:
work_hours = [('Abby', 100), ('Billy', 4000), ('Cassie', 800)]

In [10]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    # Return
    return (employee_of_month, current_max)

In [11]:
employee_check(work_hours)

('Billy', 4000)

In [12]:
name, hours = employee_check(work_hours)

In [13]:
name

'Billy'

In [14]:
hours

4000

### Interactions between Python Functions

In [1]:
# one cup Monty simple version

example = [1,2,3,4,5,6,7]

In [2]:
from random import shuffle

In [3]:
shuffle(example)

In [4]:
example

[6, 5, 2, 3, 1, 4, 7]

In [5]:
def shuffle_list(mylist):
    shuffle(mylist)
    return(mylist)

In [6]:
result = shuffle_list(example)

In [7]:
result

[3, 1, 2, 4, 5, 6, 7]

In [8]:
mylist = [' ', ' ', 'O']

In [9]:
shuffle_list(mylist)

['O', ' ', ' ']

In [10]:
def player_guess():
    
    
    guess=''
    
    while guess not in ['0', '1', '2']:
        guess = input('Pick a number: 0, 1 or 2')
    return int(guess)

In [14]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [16]:
# INITIAL LIST
mylist = [' ', ' ', 'O']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist
                           )
# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list, guess)

Pick a number: 0, 1 or 20
Wrong guess!
[' ', 'O', ' ']

### *args and **kwargs in Python

In [5]:
def myfunc(a,b,c=0,d=0,e=0):
    # returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [12]:
myfunc(40,60,100,100,3)
# cant move past e

15.15

In [13]:
def myfunc(*args):
    return sum(args) * 0.05
# you can use aNY word that isn't args, but by convention you SHOULD

# whole point of *args. don't have to set amount of arguments

In [14]:
myfunc(40,60,100)

10.0

In [15]:
def myfunc(*args):
    for item in args:
        print(item)

In [17]:
myfunc(40,60,100,1,34)

40
60
100
1
34

In [22]:
# returns back a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

# ONCE AGAIN by convention, use kwargs so no confusion in code

In [23]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [26]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [28]:
myfunc(10,20,30, fruit='orange', food='eggs', animal='dog')

# it HAS to go in args, kwargs order for this func

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [29]:
### EXERCISE
## Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those 
## arguments.
def myfunc(*args):
    return sum(args)

In [31]:
myfunc(100,200,3)

# Works

303

In [32]:
### EXERCISE
## Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.
def myfunc(*args):
    mylist = [num for num in args if num%2 == 0]
    return mylist

In [34]:
myfunc(400, 501, 62)

# Works

[400, 62]

In [1]:
### EXERCISE
## Define a function called myfunc that takes in a string, and returns a matching string where every even letter 
## is uppercase, and every odd letter is lowercase. 

def myfunc(x):
    out=[]
    for i in range(len(x)):
        if i%2==1:
            out.append(x[i].upper())
        else:
            out.append(x[i].lower())
    return ''.join(out)

In [2]:
myfunc('This is a string')

# works

'tHiS Is a sTrInG'

### Function Practice Exercises

In [8]:
## write a function that returns the lesser of two given numbers
## IF both numbers are even, but returns the greater if both 
## numbers are odd

def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBERS ARE EVEN!
        return min(a,b)
    else:
        # ONE OR BOTH NUMBERS ARE ODD!
        return max(a,b)

In [9]:
# check

lesser_of_two_evens(2,4)

# works

2

In [21]:
## animal crackers: write a function that takes  a two word string
# and returns True if both words begin with same letter

def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [22]:
# check

animal_crackers('Levelheaded Llama')

['levelheaded', 'llama']

True

In [23]:
# check
animal_crackers('Crazy cat')

['crazy', 'cat']

True

In [28]:
## MAKES TWENTY: given two integers, return True if the sum of
## the integers is 20 or if one of the integers is 20.
## if not, return False

def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [29]:
# check
makes_twenty(10,10)

True

In [30]:
# check
makes_twenty(2,3)

False

### Level 1 Problems

In [36]:
# Old Macdonald: write a function that capitalizes the first
# and fpurth letters of a name

def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [37]:
# check
old_macdonald('macdonald')

'MacDonald'

In [43]:
# MASTER YODA: given a sentence, return a sentence with the
# words reversed

def master_yoda(text):
    wordlist = text.split()
    reversed_word_list = wordlist[::-1]
    return ' '.join(reversed_word_list)

In [44]:
# check
master_yoda('I am home')

'home am I'

In [45]:
# check
master_yoda('We are ready')

'ready are We'

In [47]:
# ALMOST THERE: given an integer n, return True if n is within
# 10 of either 100 or 200

def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [48]:
# check
almost_there(104)

True

In [49]:
# check
almost_there(150)

False

In [50]:
# check
almost_there(209)

True

### Level 2 Problems

In [8]:
# Find 33: given a list of ints, return True if the array contains a 
# 3 next to a 3 somewhere.

def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums [i+1] == 3:
            return True
        
    return False

In [9]:
# check

has_33([1, 3, 1, 3])

False

In [16]:
# PAPER DOLL: Given a string, return a string where for every character
# in the original there are three characters.

def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [17]:
# check
paper_doll('Hello')

'HHHeeellllllooo'

In [18]:
# check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [26]:
# BLACKJACK. given three integers between 1 and 11, if their sum is 
# less than or equal to 21, return their sum. if their sum exceeds 
# 21, and theres an eleven, reduce the total sum by 10. finally, if the
# sum (even after adjustment), exceeds 21, return 'BUST'

def blackjack(a,b,c):
    
    
    if sum ([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [27]:
# check
blackjack(5,6,7)

18

In [28]:
# check
blackjack(9,9,9)

'BUST'

In [29]:
# check
blackjack(9,9,11)

19

In [1]:
# SUMMER OF '69: Return the sum of the numbers in the array,
# except ignore sections of numbers starting with a 6 and 
# extending to the next 9 (every 6 will be followed by at least
# one 9.) Return 0 for no numbers.

def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [2]:
# check
summer_69([1, 3, 5])

9

In [3]:
# check
summer_69([4, 5, 6, 7, 8, 9])

9

In [5]:
# check
summer_69([2, 1, 6, 9, 11])

14

### Challenging Problems

In [5]:
# SPY GAME: Write a function that takes in a list of integers and 
# returns True if it contains 007 in order (not consecutive)

def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7, 'x']
    # ['x'] Length = 1
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [6]:
# check
spy_game([1,2,4,0,0,7,5])

True

In [7]:
# check
spy_game([1,0,2,4,0,5,7])

True

In [8]:
# check
spy_game([1,7,2,0,4,5,0])

False

In [12]:
# COUNT PRIMES: Write a function that returns the number of prime
# numbers that exist up to and including a given number

# by convention, we'll treat 0 and 1 as not prime.

def count_primes(num):
    
    # check for 0 or 1 input
    if num < 2:
        return 0
    ###################
    # 2 or greater
    ##################
    
    #store our prime numbers
    primes = [2]
    # counter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # check if x is prime
        for y in primes:
            if x%y ==0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [13]:
# check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun

In [3]:
# PRINT BIG: write a function that takes in a single letter, and returns a 5x5
# representation of that letter

def print_big(letters):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for x in range(5):
        for letter in letters:
                print(patterns[alphabet[letter.upper()][x]], end='  ')
        print()
 
print_big('abc')

  *    ****   *****
 * *   *   *  *
*****  ****   *
*   *  *   *  *
*   *  ****   *****