#### What is a database?
A structured set of computerized data with an accessible interface. 


1. A collection of data. ex. a phone book
2. A method for accessing and manipulating data.




Your app ----> Database Management System (DBMS) ---> Your database




<b>DBMS</b> ex. PostgreSQL, Oracle ----> <b>Database</b> ex. MySQL, SQLite = "Database"


#### MySQL vs. SQL? 

SQL is the language we use to 'talk' to our databases.



<u>Relational Databases that write in SQL:</u>

    - MySQL
    - SQLite
    - PostgreSQL
    - Oracle

There is sometimes <i> slight </i> differences in syntax.

#### In MySQLWorkbench, comments can be placed  with '-- '
You can also do comments when using SQL in command line the same way

- CREATE DATABASE < database_name> ;
- DROP DATABASE < database_name> ; (this is also irreversible, be careful)
- SHOW databases;
- USE < database_name> ;

### Datatypes

#### Numeric Types
- INT:
    - A whole number w max (signed) value of 2147483647. (dont worry about max size)
- SMALLINT
- TINYINT
- MEDIUMINT
- BIGINT 
- DECIMAL
- NUMERIC
- FLOAT
- DOUBLE
- BIT

#### String Types
- CHAR
- VARCHAR
    - a variable-length string ex. 'coffee!!', '-9999', 'AAbbb adfad' (max is 100 chars)
- BINARY
- VARBINARY
- BLOB
- TINYBLOB
- MEDIUMBLOB
- LONGBLOB
- TEXT
- TINYTEXT
- MEDIUMTEXT
- LONGTEXT
- ENUM

#### Date Types
- DATE 
- DATETIME
- TIMESTAMP
- TIME
- YEAR

CREATE TABLE table_name (
    name VARCHAR(max chars),
    age INT
);


ex.
CREATE TABLE cats (
    name VARCHAR(50),
    breed VARCHAR(50),
    age INT
);


DROP TABLE table_name;  <-- Easy as that, but again, completely permanent
(can also just right click in mysql workbench to drop)

how to view your tables?

SHOW tables;


Wanna see the columns <b> in </b> the tables?
   - SHOW columns FROM table_name;
   - DESCRIBE table_name;
   - DESC table_name;
   
All will result in the same thing :)

Insert an entry into a table:

ex:

INSERT INTO cats (name,age)
VALUES ('Blue Steele', 5);

Multi insert ex:

INSERT INTO cats (name,age)
VALUES ("Meatball", 5),
("Turkey", 1),
("Potato Face", 15);

#### Working with NOT NULL

Without specifying, a table can have null values in columns when the entry doesn't provide info for said column. To require values for all columns you can do this:

CREATE TABLE table_name (
        column1 VARCHAR(100) NOT NULL,
        column2 INT NOT NULL
        );

Want an entry that contains a ' ?

ex.
INSERT INTO(name) VALUES ('mario\'s pizza');


The backslash will allow the comma without disrupting the query.

EX. INSERT INTO shops(name) VALUES ('she said "haha"');


this will allow DOUBLE QUOTES in an entry.

BEST PRACTICE is single quotes, so stick with that unless ABSOLUTELY NECESSARY.

<u> Define a table with a <b> DEFAULT </b> name specified: </u>

CREATE TABLE cats3  (    
    name VARCHAR(20) DEFAULT 'no name provided',    
    age INT DEFAULT 99  
);


Combine NOT NULL and DEFAULT:

CREATE TABLE cats4  (    
    name VARCHAR(20) NOT NULL DEFAULT 'unnamed',    
    age INT NOT NULL DEFAULT 99 
);

<b>Primary Key = Unique Identifier </b>

Usually set for ID columns, you set the ID number, then it can't be used again.

-- One way of specifying a PRIMARY KEY

CREATE TABLE unique_cats (
	cat_id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL
);


-- Another option:



CREATE TABLE unique_cats2 (
	cat_id INT,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL,
    PRIMARY KEY (cat_id)
);

Primary keys:
    - NOT NULL is redundant, primary keys cannot be null.

<b> useful tool for primary keys = auto-increment!</b>

CREATE TABLE unique_cats3 (
    cat_id INT AUTO_INCREMENT,
    name VARCHAR(100),
    age INT,
    PRIMARY KEY (cat_id)
   );
   

for the example above, cat_id will automaticaly increment for each new cat inserted into the table.

ALSO you don't HAVE to seperate it, easier to just do it like this:

CREATE TABLE unique_cats3 (
    cat_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
   );

<b>C</b>reate

    - INSERT INTO
    
<b>R</b>ead

    - SELECT

<b>U</b>pdate

<b>D</b>elete

<b>C.R.U.D.</b>

#### Subqueries

A subquery is a SQL query nested inside a larger query.

A subquery may occur in :
- A SELECT clause
- A FROM clause
- A WHERE clause
The subquery can be nested inside a SELECT, INSERT, UPDATE, or DELETE statement or inside another subquery.
A subquery is usually added within the WHERE Clause of another SQL SELECT statement.
You can use the comparison operators, such as >, <, or =. The comparison operator can also be a multiple-row operator, such as IN, ANY, or ALL.
A subquery is also called an inner query or inner select, while the statement containing a subquery is also called an outer query or outer select.
The inner query executes first before its parent query so that the results of an inner query can be passed to the outer query.
You can use a subquery in a SELECT, INSERT, DELETE, or UPDATE statement to perform the following tasks:

Compare an expression to the result of the query.
Determine if an expression is included in the results of the query.
Check whether the query selects any rows.








<u>To view all rows in a table/easiest select statement:</u>


SELECT * FROM table_name;

#### Aggregate Functions

An aggregate function performs a calculation on a set of values, and returns a single value. Except for COUNT(*), aggregate functions ignore null values. Aggregate functions are often used with the GROUP BY clause of the SELECT statement.

- COUNT  counts how many rows are in a particular column.
- SUM adds together all the values in a particular column.
- MIN and MAX return the lowest and highest values in a particular column, respectively.
- AVG calculates the average of a group of selected values.